body, h1, h2, p, ul, li, form, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Set a background color */
    color: #333;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

.navbar h1 {
    margin: 0;
    font-size: 2em;
}

.navbar span {
    color: red; /* Set color for the span */
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline-block;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Hero section styles */
#home {
    background-image: url('https://img.freepik.com/free-photo/circuit-board-close-up-with-different-components_23-2149174325.jpg?size=626&ext=jpg&ga=GA1.1.80712957.1701871890&semt=ais');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5em;
    max-width: 600px;
    margin: 0 auto 20px;
}

.hero img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Form styles */
.hero-form {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* Menu section styles */
#menu {
    text-align: center;
    padding: 50px 0;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 250px;
    margin: 20px 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 15px;
}

.card p {
    font-size: 1.2em;
}

/* Kontak section styles */
#kontak {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.informasi button {
    margin: 0 10px;
    padding: 15px 20px;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.2em;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar li {
        display: block;
        margin-bottom: 10px;
    }

    .list .col-md-4 {
        width: 100%;
    }

    .hero h1 {
        font-size: 2.5em;
    }

    .hero p {
        font-size: 1.2em;
    }

    .hero img {
        max-width: 80%;
    }
}